:root {
  --darkburple: #5d70b4;
  --burple: #7289DA;
  --white: #FFFFFF;
  --gray: #99AAB5;
  --darkgray: #2C2F33;
  --darkergray: #23272A;
  --nightblack: #111111;
  --skyblue: #78B1DE;
  --link-color: #0edef3;
}

.link {
  color: var(--white);
  transition: 150ms;
  cursor: pointer;
  text-decoration: underline;
}

.link.no-underline {
  text-decoration: none;
}

.link.no-underline:hover {
  color: var(--link-color);
}

.link:hover {
  transition: 150ms;
  text-decoration: none;
}

.blend {
  background: linear-gradient(180deg, #c6b790 0%, var(--darkgray) 100%);
  height: 1000px;
}

.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.night .main-panel {
  background-color: var(--nightblack);
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
}

.day .main-panel {
  background-color: var(--skyblue);
  height: 100vh;
  display: flex;
  flex-direction: column-reverse;
}

.header {
  color: var(--white);
  text-align: right;
  padding-right: 200px;
  z-index: 1;
}

.header-subrow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.main-panel-floor {
  background: #d3c39c;
  background: linear-gradient(180deg, #d3c39c 0%, #a39777 100%);
  height: 20%;
  z-index: 1;
}

.sand {
  opacity: 0.2;
  background: url("/img/sand.jpg");
  background-size: 50%;
  width: 100%;
  height: 100%;
}

#pl-logo {
  width: 200px;
  margin-left: 50px;
  z-index: 1;
}

.command-block {
  padding: 10px;
  transition: all 0.1s;
}

.subcommand-link:hover {
  font-weight: bold;
}

.command-block:hover {
  background: #23272A;
}

.command-block.focused {
  background: #23272A;
}

.wrapper {
  width: 100%;
  text-align: center;
}

#docs {
  display: inline-block;
  text-align: left;
  max-width: 80vw;
}

#docs>.header {
  padding: 0 10px;
}

code {
  display: block;
  color: white;
}